{% import 'blog.twig' as blog %}
<div class="h-entry" id="entry_{{ entry.id }}">
  {% if entry.title %}
    <h2 class="p-name">{{ entry.title }}</h2>
  {% endif %}
  <div class="e-content">
      {{ entry.entry | markdown_to_html | expand_psuedo_urls | raw }}
  </div>
  <div class="details">
    &raquo; 
    <a class="permalink u-url"
       href="{{ entry.canonicalUrl }}">
      <time class="dt-published" datetime="{{ entry.created_at | date('c') | e('html_attr') }}">
        {{- blog.date_format(entry.created_at) -}}
      </time>
    </a>
    {% if entry.tags %}
      &raquo;
      {% for tag in entry.tags %}
        <a class="p-category" href="{{ url_for('blog.tag', { 'tag' : tag.name }) }}"
           >{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    {% endif %}
    {% if entry.mastodon_uri or entry.bluesky_uri %}
      &raquo;
      {% if entry.mastodon_uri %}
        <a class="u-syndication" href="{{ entry.mastodon_uri | e('html_attr') }}" title="Syndicated on Mastodon">
          {# https://icons.getbootstrap.com/icons/mastodon/ #}
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-mastodon" viewBox="0 0 16 16"><path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z"/></svg>
        </a>
      {% endif %}
      {% if entry.bluesky_uri %}
        <a class="u-syndication" href="{{ entry.bluesky_uri | e('html_attr') }}" title="Syndicated on Blue Sky">
          {# yanked from bsky.social #}
          <svg class="w-6 h-6 " width="10" height="10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 568 501"><title>Bluesky butterfly logo</title><path fill="currentColor" d="M123.121 33.664C188.241 82.553 258.281 181.68 284 234.873c25.719-53.192 95.759-152.32 160.879-201.21C491.866-1.611 568-28.906 568 57.947c0 17.346-9.945 145.713-15.778 166.555-20.275 72.453-94.155 90.933-159.875 79.748C507.222 323.8 536.444 388.56 473.333 453.32c-119.86 122.992-172.272-30.859-185.702-70.281-2.462-7.227-3.614-10.608-3.631-7.733-.017-2.875-1.169.506-3.631 7.733-13.43 39.422-65.842 193.273-185.702 70.281-63.111-64.76-33.89-129.52 80.986-149.071-65.72 11.185-139.6-7.295-159.875-79.748C9.945 203.659 0 75.291 0 57.946 0-28.906 76.135-1.612 123.121 33.664Z"></path></svg>
        </a>
      {% endif %}
    {% endif %}
    &raquo;
    <a href="{{ entry.canonicalUrl }}">
      {% if entry.article %}More, {% endif %}
      {% if not entry.comment_count %}
        Comment
      {% else %}
        {{ entry.comment_count }} comment{% if entry.comment_count > 1 %}s{% endif %}, add yours
      {% endif %}
    </a>
  </div>
</div>
