{% macro date_format(dt) %}
  {% if dt | date('Y') == "now" | date('Y') %}
    {{ dt | date('F j (l) g:ia') | lower }}
  {% else %}
    {{ dt | date('F j, Y g:ia') | lower }}
  {% endif %}
{% endmacro %}

{% import _self as blog %}
<div class="h-entry" id="n {{ entry.id }} {% for tag in entry.tags %}{{ tag }} {% endfor %}">
  {% if entry.title %}
    <h3 class="p-name">{{ entry.title }}</h3>
  {% endif %}
  <div class="entry e-content">
    <p>
      {{ entry.entry | paragraphs | expand_psuedo_urls | prettify_markup | raw }}
    </p>
  </div>
  <div class="details">
    &raquo; 
    <a class="permalink u-url"
       href="{{ entry.canonicalUrl() }}">
      <time class="dt-published" datetime="{{ entry.created_at | date('c') | e('html_attr') }}">
        {{- blog.date_format(entry.created_at) -}}
      </time>
    </a>
    {% if entry.tags %}
      &raquo;
      {% for tag in entry.tags %}
        <a class="p-category" href="{{ url_for('tag', { 'tag' : tag }) }}"
           >{{ tag }}</a>{{ not loop.last ? ', ' }}
      {% endfor %}
    {% endif %}
    &raquo;
    <a href="{{ entry.canonicalUrl() }}">
      {% if entry.article %}more, {% endif %}
      {% if not entry.comment_count %}
        comment
      {% else %}
        {{ entry.comment_count }} comment{{ entry.comment_count > 1 ? 's' }}, add yours
      {% endif %}
    </a>
  </div>
</div>
