{% macro date_format(dt) %}
  {% if dt | date('Y') == "now" | date('Y') %}
    {{ dt | date('F j (l) g:ia') | lower }}
  {% else %}
    {{ dt | date('F j, Y g:ia') | lower }}
  {% endif %}
{% endmacro %}

{% import _self as blog %}
<div class="h-entry" id="n {{ entry.id }} {% for tag in entry.tags %}{{ tag }} {% endfor %}">
  {% if entry.title %}
    <h3 class="p-name">{{ entry.title }}</h3>
  {% endif %}
  <div class="entry e-content">
    <p>
      {{ entry.entry | paragraphs | expand_psuedo_urls | prettify_markup | raw }}
    </p>
  </div>
  <div class="details">
    &raquo; 
    <a class="permalink u-url"
       href="{{ entry.canonicalUrl() }}">
      <time class="dt-published" datetime="{{ entry.created_at | date('c') | e('html_attr') }}">
        {{- blog.date_format(entry.created_at) -}}
      </time>
    </a>
    {% if entry.tags %}
      &raquo;
      {% for tag in entry.tags %}
        <a class="p-category" href="{{ url_for('tag', { 'tag' : tag }) }}"
           >{{ tag }}</a>{{ not loop.last ? ', ' }}
      {% endfor %}
    {% endif %}
    {% if entry.mastodon_uri %}
      &raquo;
      <a class="u-syndication" href="{{ entry.mastodon_uri | e('html_attr') }}" title="Syndicated on Mastodon">
        {# https://icons.getbootstrap.com/icons/mastodon/ #}
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-mastodon" viewBox="0 0 16 16"><path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a4 4 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522q0-1.288.66-2.046c.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764q.662.757.661 2.046z"/></svg>
      </a>
    {% endif %}
    &raquo;
    <a href="{{ entry.canonicalUrl() }}">
      {% if entry.article %}more, {% endif %}
      {% if not entry.comment_count %}
        comment
      {% else %}
        {{ entry.comment_count }} comment{{ entry.comment_count > 1 ? 's' }}, add yours
      {% endif %}
    </a>
  </div>
</div>
